html {
    font-family: 'Rubik', sans-serif;
}

.highlight {
    border: 1px solid black;
}

img {
    width: 100%;
    height: 20%;
  }

.inlay {
    background-color:#cecccc;
}

h1 {
    font-size: 36px;
    color: #1d1d1d;
}
